<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET" />
 <application android:label="Patreon acquisition probe" android:theme="@android:style/Theme.Material.Light.NoActionBar" android:allowBackup="false">
  <activity android:name=".ProbeActivity" android:exported="true" android:launchMode="singleTask">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
   <intent-filter><action android:name="android.intent.action.VIEW"/><category android:name="android.intent.category.DEFAULT"/><category android:name="android.intent.category.BROWSABLE"/><data android:scheme="webnovelpatreonprobe" android:host="oauth" android:path="/callback"/></intent-filter>
  </activity>
 </application>
</manifest>
